<div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="#" class="logo">daneshLig.ir</a>
        <p class="footer-tagline">همراه شما تا موفقیت</p>
      </div>
      
      <div class="footer-links">
        <div class="link-group">
          <h3 class="link-title">لینک های سریع</h3>
          <ul class="link-list">
            <li><a href="/">خانه</a></li>
           
            <li><a href="/anoutUs">درباره ما</a></li>
            <li><a href="/majeraJoyi">اموزش ها</a></li>
             <li><a href="/quizShow">کوییز شو</a></li>
            <li><a href="/rahnamayi">راهنمایی استفاده از سایت</a></li>
            <li><a href="/BeZoudy">ارتباط با ما</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h3 class="link-title">ارتباط با ما</h3>
          <ul class="link-list">
            <li><i class="fas fa-map-marker-alt"></i>در میان قلبتان</li>
            <li><i class="fas fa-phone"></i> +98 999 956 2748</li>
            <li><i class="fas fa-envelope"></i> imamirzero.qp@gmail.com</li>
          </ul>
        </div>
      </div>
      
      <div class="footer-social">
        <h3 class="social-title">ما را دنبال کنید</h3>
        <div class="social-icons">
          <a href="#" class="social-icon" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="social-icon" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 
        This template is made with <i class="fas fa-heart" aria-hidden="true"></i> by 
        <span>HOSSEIN MOKHTARY</span>
      </p>
    </div>
  </div>