        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>دانش لیگ | <%= title %> </title>
		<meta name="description" content="A slideshow that shows an animated SVG frame on the transitions between slides" />
		<meta name="keywords" content="slideshow, javascript, frame, animation, svg, shape, path, web design
		meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		
		<link rel="stylesheet" type="text/css" href="css/base.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="pater/pater.css" />