        <div class="menu-toggle" id="menuToggle">☰</div>
			
			<ul class="nav-links" id="navLinks">
				
				<li><a href="/anoutUs">درباره ما</a></li>
				<li><a href="/BeZoudy">نمونه سوال</a></li>
				<li><a href="/quizShow">کوییز شو</a></li>
				<li><a href="/majeraJoyi">آموزش ها</a></li>
				<li><a href="/">خانه</a></li>
			</ul>

			<a class="logo" href="/">
				
				<span>دانش لیگ</span>
			</a>