<!DOCTYPE html>
<html lang="fa">
<head>
    <%- include('partials/head') %>
 
</head>
<body style="background:black">
  
    <nav class="navbar" id="navbar">
        <%- include('partials/nav') %>
    </nav>

    <div class="container"  dir="rtl">
        <h1 class="title">دروس آموزشی هفتم</h1>
        
        <div class="course-box">
            <div class="course-header">
                <h2>ریاضیات </h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li onclick="openPDF('path/alaki.pdf',  '_blank')">راهبرد های حل مسئله</li>
                    <li onclick="openPDF('path/alaki.pdf',  '_blank')" >عدد های صحیح</li>
                    <li>جبر و معادله</li>
                    <li>هندسه و استدلال</li>
                    <li>شمارنده ها و عدد اول</li>
                    <li>سطح و حجم</li>
                    <li>توان و جذر</li>
                    <li>بردار و مختصات</li>
                    <li>آمار و احتمال</li>
                </ul>
            </div>
        </div>
        
        <div class="course-box">
            <div class="course-header">
                <h2>علوم تجربی</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>فصل اول : تجربه و فکر</li>
                    <li>فصل دوم : اندازه گیری در علوم و ابزار آن</li>
                    <li>فصل سوم : اتم ها ، الفبای مواد </li>
                    <li>فصل چهارم : مواد پیرامون ما </li>
                    <li>فصل پنجم : از معدن تا خانه </li>
                    <li>فصل ششم : سفر آب روی زمین</li>
                    <li>فصل هفتم : سفر آب درون زمین</li>
                    <li>فصل هشتم : انرژی و تبدیل آن</li>
                    <li>فصل نهم : منابع انرژی</li>
                    <li>فصل دهم : گرما و بهینه سازی مصرف انرژی </li>
                    <li>فصل یازدهم : یاخته و سازمان بندی آن</li>
                    <li>فصل دوازدهم : سفر سلامت </li>
                    <li>فصل سیزدهم : سفر غذا</li>
                    <li>فصل چهاردهم : گردش مواد </li>
                    <li>فصل پانزدهم : تبادل با محیط</li>
                </ul>
            </div>
        </div>

        <div class="course-box">
            <div class="course-header">
                <h2>ادبیات فارسی</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>درس اول: زنگ آفرینش</li>
                    <li>درس دوم: چشمه معرفت</li>
                    <li>درس سوم: نسل آینده ساز</li>
                    <li>درس چهارم: با بهاری که می رسد از راه، زیبایی شکفتن</li>
                    <li>درس پنجم: درس آزاد</li>
                    <li>درس ششم: قلب کوچکم را به چه کسی بدهم؟</li>
                    <li>درس هفتم: علم زندگانی</li>
                    <li>درس هشتم: زندگی همین لحظه‌هاست</li>
                    <li>درس نهم: نصیحت امام، شوق خواندن</li>
                    <li>درس دهم: کلاس ادبیات، مرواریدی در صدف، زندگی حسابی، فرزند صالح انقلاب</li>
                    <li>درس یازدهم: عهد و پیمان، عشق به مردم، رفتار بهشتی، گرمای محبت</li>
                    <li>درس دوازدهم: خدمات متقابل اسلام و ایران</li>
                    <li>درس سیزدهم: اسوه نیکو</li>
                    <li>درس چهاردهم: امام خمینی</li>
                    <li>درس پانزدهم: درس آزاد</li>
                    <li>درس شانزدهم: آدم آهنی و شاپرک</li>
                    <li>درس هفدهم: ما می توانیم</li>
                </ul>
            </div>
        </div>

        <div class="course-box">
            <div class="course-header">
                <h2>زبان انگلیسی</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>درس اول</li>
                    <li>درس دوم</li>
                    <li>درس سوم</li>
                    <li>درس چهارم</li>
                    <li>درس پنجم</li>
                    <li>درس ششم</li>
                    <li>درس هفتم</li>
                    <li>درس هشتم</li>
                </ul>
            </div>
        </div>

        <div class="course-box">
            <div class="course-header">
                <h2>مطالعات اجتماعی</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>فصل اول</li>
                    <li>فصل دوم</li>
                    <li>فصل سوم</li>
                    <li>فصل چهارم</li>
                    <li>فصل پنجم</li>
                    <li>فصل ششم</li>
                    <li>فصل هفتم</li>
                    <li>فصل هشتم</li>
                    <li>فصل نهم</li>
                    <li>فصل دهم</li>
                    <li>فصل یازدهم</li>
                    <li>فصل دوازدهم</li>
                </ul>
            </div>
        </div>

        <div class="course-box">
            <div class="course-header">
                <h2>کار و فناوری</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>پودمان اول</li>
                    <li>پودمان دوم</li>
                    <li>پودمان سوم</li>
                    <li>پودمان چهارم</li>
                    <li>پودمان پنجم</li>
                    <li>پودمان ششم</li>
                    <li>پودمان هفتم</li>
                    <li>پودمان هشتم</li>
                    <li>پودمان نهم</li>
                    <li>پودمان دهم</li>
                    <li>پودمان یازدهم </li>
                    <li>پودمان دوازدهم</li>
                </ul>
            </div>
        </div>

        
        
        <div class="course-box">
            <div class="course-header">
                <h2>زبان عربی</h2>
                <span class="toggle-icon">+</span>
            </div>
            <div class="course-content">
                <ul>
                    <li>درس اول</li>
                    <li>درس دوم</li>
                    <li>درس سوم</li>
                    <li>درس چهارم</li>
                    <li>درس پنجم</li>
                    <li>درس ششم</li>
                    <li>درس هفتم</li>
                    <li>درس هشتم</li>
                    <li>درس نهم</li>
                    <li>درس دهم</li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="modern-footer">
        <%- include('partials/footer') %>
    </footer>

      <button >نمایش PDF</button>

      <script>
      function openPDF(x) {
          window.open(x);
      }
      </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const courseBoxes = document.querySelectorAll('.course-box');
    
    courseBoxes.forEach(box => {
        const header = box.querySelector('.course-header');
        
        header.addEventListener('click', function() {
            // بستن سایر باکس‌ها
            courseBoxes.forEach(otherBox => {
                if (otherBox !== box && otherBox.classList.contains('active')) {
                    otherBox.classList.remove('active');
                }
            });
            
            // باز/بسته کردن باکس جاری
            box.classList.toggle('active');
        });
    });
});
    </script>
    <script>
        function openPDF() {
            window.open('path/alaki.pdf', '_blank');
        }
        </script>
    <script src="js/demo.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/anime.min.js"></script>
    <script src="js/demo2.js"></script>
</body>
</html>